<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Flow">
    <test name="Functional Test Cases">
        <classes>
            <class name="Base.Setup"></class>
            <class name="shaft.HomePage.HomePagePOM"></class>
            <class name="shaft.HomePage.HomePage"></class>
            <class name="shaft.RolePage.RolesPagePOM"></class>
            <class name="shaft.RolePage.RolesPage"></class>
            <class name="shaft.ManagerPage.ManagerPagePOM"></class>
            <class name="shaft.ManagerPage.ManagerPage"></class>
            <class name="shaft.UserPage.UsersPagePOM"></class>
            <class name="shaft.UserPage.UsersPage"></class>
<!--            <class name="com.cyber.Base.TearDown"></class>-->
        </classes>
    </test>

</suite>